<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996588278751-e9ei5nf2k4u1u747cbg0891a1h0lol3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996588278751-e9ei5nf2k4u1u747cbg0891a1h0lol3k</string>
	<key>API_KEY</key>
	<string>AIzaSyC5BppAM1M9WzxELdYMmZS_fuMuD9k6Awc</string>
	<key>GCM_SENDER_ID</key>
	<string>996588278751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.cm.mikiDesign-W</string>
	<key>PROJECT_ID</key>
	<string>designsonlineservice</string>
	<key>STORAGE_BUCKET</key>
	<string>designsonlineservice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996588278751:ios:4dc2d5b7f6c8024a54aa6a</string>
</dict>
</plist>